@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    background-color: rgb(219, 208, 208)
}

header{
    background-color: #4d41cd;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a, nav a:hover {
    text-decoration: none;
    color: unset;
  }